<head>
<style>
  body {
      background-color: black;
  }
  table, td, th {
      border: 2px dashed orange;
      text-align: center;
  
  }
  
  th {
      background-color: blue;
      color: white;
  }
  td {
      background-color: gray;
      color: blue;
  }
  .time {
      background-color: black;
      color: white;
  }
</style>
</head>
