<head>
<style>
  table, td, th {
      border: 2px #FF66FF;
      position: float;
  }
  th {
      background-color: blue;
      color: white;
      text-align: center;
  }
  td {
      background-color: gray;
      color: blue;
      text-align: center;
  }
  .time {
      background-color: black;
      color: white;
  }
  .class {
      background-color: white;
  }
  .day {
      background-color: purple;
      color: white;
  }
  .food {
      background-color: green;
      color: white;
  }
  .practice {
      background-color: blue;
      color: white;
  }
  header {
    position: fixed;
    background-color: pink;
    width: 100%;
  }
  
</style>
</head>
