<head>
<style>
  table, td, th {
      border: 2px solid blue;
  }
  
  th {
      background-color: blue;
      color: white;
  }
  td {
      backgroud-color:grey;
      color:blue;
  }
</style>
</head>
